<%- model_class = @task -%>

<div class="page-header">
  <h1><%= @task.title %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>memo</th>      

      <th>Action</th>
    </tr>
  </thead>   
  <tbody>

<% (0..100).each do |i| %>
<% @subtaskday = i.day.ago.in_time_zone('Tokyo').strftime('%Y年%m月%d日') %>
 <% @task.subtasks.each do |subtask| %>
  <% if subtask.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日') == @subtaskday %>
  　 <tr>
　     <td><%= check_box_tag '','', subtask.done, {'data-id' => subtask.id, 'data-task_id'=> subtask.task_id,'data-project_id'=> subtask.task.project_id } %></td>
　     <td><%=subtask.memo%></td>
　    <!-- <td><%# subtask.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日') %></td> -->
　     <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_task_subtask_path(@project, @task, subtask) ,:class => 'btn btn-xs btn-default' %>
              &nbsp;<br>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_task_subtask_path(@project, @task, subtask), 
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %></td>

　 </tr>  
 　 <% end %>
 <% end %> 
<% end %>   　 

  </tbody>
</table>


              

<div class="row">

<div class="col-md-12">    
            <%= form_for [@project,@task, @task.subtasks.build] do |f| %>   
               <%= f.text_area :memo, :size=>"60x3" ,:class => 'form-control' %><br>
               <div class="text-center">
     
            <%= f.submit "メモ" ,:class => 'btn btn-default'%></div>
            <% end %>
</div>
</div>  






              
              
<%= link_to t('.back', :default => t("helpers.links.back")),
              project_path(@project), :class => 'btn btn-default'  %>              
              
<script>
        $(function(){
                $('input[type=checkbox]').click(function(){
                        var idProject = $(this).data('project_id'),
                            idTask = $(this).data('task_id'),
                            idSubtask = $(this).data('id');
                 $.post('/projects/' + idProject + '/tasks/' + idTask + '/subtasks/' + idSubtask + '/toggle');
                });
        });
</script>     