<%- model_class = Project -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @project.title %></dd>
</dl>

<% (0..30).each do |i| %>
<% @taskday = i.day.ago.in_time_zone('Tokyo').strftime('%Y年%m月%d日') %>

        <% @project.tasks.each do |task| %>
        <% if task.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日') == @taskday %>
        <ul>
        <li>   <%= task.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日') %>
                                            <%= check_box_tag '','', task.done, {'data-id' => task.id, 'data-project_id'=> task.project_id} %>
                                     
  <%= task.title%>

                                  
                                            (<%= task.subtasks.unfinished.count %>/<%= task.subtasks.count %>)
                                            
                                            
                                            <%= link_to "詳細", project_task_path(task.project_id,task.id) %>
                                
                                            <%= link_to "[edit]", edit_project_task_path(task.project_id,task.id) %>
                                            <%= link_to "[delete]", project_task_path(task.project_id,task.id), method: :delete, data: {confirm: "are you sure?"} %>           
         </li>
        </ul>        
    <% end %>
  <% end %>
<% end %>

<div class="row">
<div class="col-md-8 col-md-offset-2">
            <%= form_for [@project, @project.tasks.build] do |f| %>
               <%= f.text_area :title, :size=>"40x3" ,:class => 'form-control' %><br>
               <div class="text-center">
            <%= f.submit :class => 'btn btn-default'%></div>
            <% end %>
</div>
</div>    



<script>
        $(function(){
                $('input[type=checkbox]').click(function(){
                        var idProject = $(this).data('project_id'),
                            idTask = $(this).data('id');
                        $.post('/projects/' + idProject + '/tasks/' + idTask + '/toggle');
                });
        });
</script>   


<%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
